@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}
img {
  color: #686e82;
}
h1 {
  @apply uppercase text-base lg:text-lg;
  color: #00e9ff;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-3xl font-bold my-3 md:my-3 capitalize md:text-4xl;
  color: #243c63;
}

p {
  @apply text-base my-3 md:my-4 md:text-base lg:text-lg 2xl:text-2xl;
  /*color: #6B7185;*/
  color: #686e82;
}
